@charset "UTF-8";
/* CSS Document */


/*base*/
body{ margin:0; padding:0;  background:#fff}

/*setting*/
.for_pc {}
.for_phone { display:none !important;}
	@media screen and (max-width:767px){
		.for_pc { display:none !important;}
		.for_phone { display: inherit !important;}
	}


/*all-page*/
.WRAPPER { position: relative; display:block; margin: 0 auto; padding: 0 0 80px; width:100%;  min-width:1220px; font-family:"�L�n������","Microsoft JhengHei",Helvetica; overflow:hidden}
.WRAPPER img { border:0px; vertical-align:top;}
.WRAPPER a { text-decoration:none;}
		@media screen and (max-width:767px){
		.WRAPPER {  padding-bottom:0; min-width: inherit;}
		.WRAPPER img {  width:100%;  height:auto;}
	}

	
/*background*/
.bgtop  { z-index:-1; position: absolute; top:0; left:0; width:100%; min-width:1220px; height:100%; background: url(PC_main.jpg) no-repeat center top; background-attachment:fixed; }

.footer  { min-width:1220px;text-align:center; padding:0 10px; color: #FFF; font:12px/18px Helvetica; position:relative; margin-bottom:20px}
@media screen and (max-width:767px){
	.bgtop_m  { z-index:-1; position: fixed; background: url(m_main.jpg) no-repeat center top; width:100%; min-width: inherit; background-size:100%; height:100%; }
	.footer { min-width: inherit;text-align:center; padding:0 30px;  margin-bottom:50px; margin-top:20px; color: #000}
}
	

/*all-area*/
.Area { z-index:1; position: relative; margin:0 auto; padding:0; border-radius:0; text-align:center; }
.Area a { position:relative; display:block;} 
.Area .go_bt {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;}
.Area .go_bt:hover { filter: brightness(100%);
  -webkit-transform:translateY(-6px);
     -moz-transform:translateY(-6px);
      -ms-transform:translateY(-6px);
       -o-transform:translateY(-6px);
          transform:translateY(-6px);}
.Area1220 { margin:0 auto; width:1220px;}
.Area960 { margin:0 auto; width:960px;}
	@media screen and (max-width:767px){
		.Area .go_bt:hover { 
		  -webkit-transform:none;
			 -moz-transform:none;
			  -ms-transform:none;
			   -o-transform:none;
				  transform:none;}
		.Area1220 { width:100%;}
		.Area960 { margin:0 auto; width:100%;}
	}


/*TOP*/
.Area_top { position:relative; margin-bottom:0px; height:440px; }
.Area_top .title { margin-top:80px; left:350px; z-index: 9}
.Area_top .txt { position: relative; left:400px}
.Area_top .txt li { float:left; width:15%; margin: 0 auto; font-size: 20px; font-weight: 800;  color:#000; list-style: none}
.Area_top .txt li a { font-size: 20px; font-weight: 800; color:#000;}
.Area_top  p { position:relative; text-align:center; width:600px; margin:15px auto; font-size: 20px; font-weight: 800; color:#000;}
.Area_top .icon-button { position:relative; width: 500px; top:10px; left: 450px; bottom:20px;}
.Area_top .icon-button li { float:left; height:68px; margin-left:10px; list-style: none}
.Area_top .icon-button li.icon1 a { display: block; width:68px; height: 68px; background:url(instagram-icon.png)}
.Area_top .icon-button li.icon1 a:hover{ background:url(instagram-icon-1.png); transition:all 0.1s linear; }
.Area_top .icon-button li.icon2 a { display: block; width:68px; height: 68px; background:url(facebook-icon.png)}
.Area_top .icon-button li.icon2 a:hover{ background:url(facebook-icon-1.png); transition:all 0.1s linear; }
.Area_top .icon-button li.icon3 a { display: block; width:68px; height: 68px; background:url(tumblr-icon.png)}
.Area_top .icon-button li.icon3 a:hover{ background:url(tumblr-icon-1.png); transition:all 0.1s linear; }
.Area_top .icon-button li.icon4 a { display: block; width:68px; height: 68px; background:url(pixiv-icon.png)}
.Area_top .icon-button li.icon4 a:hover{ background:url(pixiv-icon-1.png); transition:all 0.1s linear; }
	@media screen and (max-width:767px){
		.Area_top { width:85%; margin-left: 4vw; margin-bottom:4vw; height:82vw;}
		.Area_top .title { margin-top:4vw; left:0;  z-index:1}
		.Area_top .txt { position: relative; top:1vw; left:3vw}
		.Area_top .txt li { width:100%; margin: 0 auto; font-size: 4vw; line-height:6vw}
		.Area_top .txt li a { font-size: 4vw}
		.Area_top  p { width:100%; margin:4vw 3vw; top:2vw; font-size: 4vw}
		.Area_top .icon-button { position:relative; width: 100%; left: 13vw}
		.Area_top .icon-button li { height:auto; margin-left:1vw;}
		.Area_top .icon-button li.icon1 a { width:16vw; height: 16vw; background:url(instagram-icon.png) no-repeat; background-size: 80%}
		.Area_top .icon-button li.icon1 a:hover{ background:url(instagram-icon.png) no-repeat }
		.Area_top .icon-button li.icon2 a { width:16vw; height: 16vw; background:url(facebook-icon.png) no-repeat; background-size: 80%}
		.Area_top .icon-button li.icon2 a:hover{ background:url(facebook-icon.png) no-repeat }
		.Area_top .icon-button li.icon3 a { width:16vw; height: 16vw; background:url(tumblr-icon.png) no-repeat; background-size: 80%}
		.Area_top .icon-button li.icon3 a:hover{ background:url(tumblr-icon.png) no-repeat }
		.Area_top .icon-button li.icon4 a { width:16vw; height: 16vw; background:url(pixiv-icon.png) no-repeat; background-size: 80%}
		.Area_top .icon-button li.icon4 a:hover{ background:url(pixiv-icon.png) no-repeat }
		}
		


/*Area1*/	
.Area1 { position:relative; margin-bottom:0px; height:auto; margin-bottom: 50px;}
.Area1 .box { position:relative; height: 320px; top:0; background: url(frame_02.png) no-repeat center top;}
.Area1 .box .title { position:relative;  width: 100%; height: auto }
.Area1 .box .txt { position:absolute; width: 780px; top:50px; left: 80px;}
.Area1 .box .txt li { float:left; position:relative; list-style: none}
.Area1 .box .txt li p { display: block; width: 460px; padding: 10px 30px; font-size: 18px; font-weight: 500; text-align:left; line-height: 30px; color: #000;}
	@media screen and (max-width:767px){
	.Area1 { height:70vw;}
	.Area1 .box { padding:2vw; height: 62vw; background: url(m_frame_02.png) repeat-y; background-size: 100%}
	.Area1 .box .title { width: 50%; height: auto; margin: 0 25vw }
	.Area1 .box .txt { width: 95%; top:17vw; left: -2vw}
	.Area1 .box .txt li { width: 50%;}
	.Area1 .box .txt li p { margin-top:0; width: 98%; padding:0; font-size: 4vw; line-height: 6vw; }
	}


/*Area2*/	
.Area2 { position:relative; margin-bottom:0px; height:auto; margin-bottom: 50px;}
.Area2 .box { position:relative; height: 580px; top:0; background: url(frame_02.png) repeat center top;}
.Area2 .box .txt { position:relative; width: 780px; height:300px; top:30px; left: 85px;}
.Area2 .box .txt .time { height: 35px; width:230px; left:110px; border-top-right-radius: 30px; border-bottom-right-radius: 30px; background: #000; }
.Area2 .box .txt .time p { display: block; width:100%; margin:10px 50px; padding-top:8px; font-size: 20px; font-weight: 500; text-align:left; color: #fff; }
.Area2 .box .txt p.t1 { margin:5px auto; height: 40px; margin:10px 50px; font-size: 30px; font-weight: 500; text-align:left; color: #b21b1b;}
.Area2 .box .txt p.t2 { margin:0 auto; height: 30px; margin:10px 50px; font-size: 16px; font-weight: 500; text-align:left; color: #9C9C9C;}
.Area2 .box .txt li { margin-left:50px; float:left; position:relative; list-style-type: square; font-size: 18px; font-weight: 500; text-align:left; line-height: 30px; color: #000;}
	@media screen and (max-width:767px){
	.Area2 .box { padding:2vw; height: 142vw; background: url(m_frame_02.png) repeat-y; background-size: 100%}
	.Area2 .box .title { width: 50%; height: auto; margin: 0 25vw }
	.Area2 .box .txt { width: 179vw; height:78vw; top:5vw; left: 0;}
	.Area2 .box .txt .time { height: 8vw; width:46vw; left:0; }
	.Area2 .box .txt .time p { width:100%; margin:0 10vw; padding-top:1.5vw; font-size: 4vw; }
	.Area2 .box .txt p.t1 { height: 6vw; margin:2vw 10vw; font-size: 5vw;}
	.Area2 .box .txt p.t2 { height: 5vw; margin:2vw 10vw; font-size: 4vw;}
	.Area2 .box .txt li { width:45%; margin-left:10vw; font-size: 4vw; line-height: 6vw; }
	}


/*Area3*/	
.Area3 { position:relative; margin-bottom:0px; height:auto; margin-bottom: 50px;}
.Area3 .box { position:relative; height: 270px; top:0; background: url(frame_02.png) repeat center top;}
.Area3 .box ul { position: relative; } 
.Area3 .box li { float:left; position:relative; top:50px; list-style: none}
.Area3 .box li.txt { position:relative; width: 400px; height:150px; top:0; left: 80px;}
.Area3 .box li.txt .time { height: 30px; width:180px; left:110px; border-top-right-radius: 30px; border-bottom-right-radius: 30px; background: #000; }
.Area3 .box li.txt .time p { display: block; width:100%; margin:10px 50px; padding-top:4px; font-size: 20px; font-weight: 500; text-align:left; color: #fff; }
.Area3 .box li.txt p.t1 { height: 40px; margin:10px 50px; font-size: 30px; font-weight: 500; text-align:left; color: #b21b1b;}
.Area3 .box li.txt p.t2 { height: 30px; margin:10px 50px; font-size: 16px; font-weight: 500; line-height:24px; text-align:left; color: #9C9C9C;}
	@media screen and (max-width:767px){
	.Area3 .box { padding:2vw; height: 86vw; background: url(m_frame_02.png) repeat-y; background-size: 100%}
	.Area3 .box .title { width: 50%; height: auto; margin: 0 25vw }
	.Area3 .box li { margin-top: 5vw; }
	.Area3 .box li.txt { width: 185vw; height:30vw; left: 0;}
	.Area3 .box li.txt .time { height: 8vw; width:46vw; left:0;}
	.Area3 .box li.txt .time p { width:100%; margin:0 10vw; padding-top:1.5vw; font-size: 4vw;}
	.Area3 .box li.txt p.t1 { height: 6vw; margin:2vw 10vw; font-size: 5vw;}
	.Area3 .box li.txt p.t2 { height: 6vw; margin:2vw 10vw; font-size: 4vw; line-height:6vw;}
	}


/*Area4*/	
.Area4 { position:relative; margin-bottom:0px; height:auto; margin-bottom: 50px;}
.Area4 .box { position:relative; height: 380px; top:0; background: url(frame_02.png) repeat center top;}
.Area4 .box .icon { position:relative; top:20px; } 
.Area4 .box .icon img { width:10%; margin-left: 20px; height: 100% }
.Area4 .box ul { position: relative; margin:50px 120px; width: 680px;} 
.Area4 .box li { position: relative; margin:0 auto; font-size: 18px; font-weight: 500; text-align:left; line-height: 30px; list-style-type: square;}
	@media screen and (max-width:767px){
	.Area4 .box { padding:2vw; height: 90vw; background: url(m_frame_02.png) repeat-y; background-size: 100%}
	.Area4 .box .title { width: 50%; height: auto; margin: 0 25vw }
	.Area4 .box .icon { top:2vw; } 
	.Area4 .box .icon img { width:20%; margin-left: 2vw; }
	.Area4 .box ul { margin:5vw 2vw; width: 76vw} 
	.Area4 .box li { margin:0 auto; font-size: 4vw; line-height: 6vw;}
	}




/*Area5*/	
.Area5 { position:relative; margin-bottom:0px; height:auto; margin-bottom: 50px;}
.Area5 .box { height:8450px; top:0; background: url(frame_02.png) repeat-y center top;}
.Area5 .box .pic1 { position:relative; height:auto; margin-left: 100px;}
.Area5 .box .pic1 .txt { float: left; width:700px }
.Area5 .box .pic1 p { text-align: left; font-size: 30px; font-weight: 900; }
.Area5 .box .pic1 li { float: left; width:43%; height: auto; margin:5px; list-style-type: none;}
.Area5 .box .pic1 li img { width:100%; height: auto}
.Area5 .box .pic2 { position:relative; height:auto; margin-left: 100px; }
.Area5 .box .pic2 .txt { float: left; margin-top: 50px; margin-left: 0; margin-bottom: 20px; }
.Area5 .box .pic2 .txt p { margin: 30px auto 10px; text-align: left; font-size: 30px; font-weight: 900; }
.Area5 .box .pic2 .txt span { margin: 10px auto; color: #BCBCBC; font-size: 16px;} 
.Area5 .box .pic2 li { float: left; width:100%; height: auto; margin:20px auto; padding: 0; list-style-type: none;}
.Area5 .box .pic2 li a { width: 88%; color: #b21b1b; text-align: left; font-size: 20px; font-weight: 900; }
.Area5 .box .pic2 li a i { position:absolute; margin-top: 2px; margin-left: 2px; width: 60px; height: 24px; background-color: #b21b1b; border-radius: 100px; }
.Area5 .box .pic2 li a i p { margin: 2px auto; width: 60px; height: 24px; color: #fff; text-align: center; font-size: 14px; }
.Area5 .box .pic2 li img { width:100%; height: auto}
	@media screen and (max-width:767px){
	.Area5 .box { padding:2vw; height: 1085vw; background:url(m_frame_02.png) repeat-y; background-size: 100%}
	.Area5 .box .title { width: 50%; height: auto; margin: 0 25vw }
	.Area5 .box .pic1 { margin-left: 1vw;}
	.Area5 .box .pic1 .txt { left: 0; }
	.Area5 .box .pic1 p { margin-top: 0; margin-left: 2vw; font-size: 5vw;}
	.Area5 .box .pic1 li { width:47%; height: auto; margin:1vw; }
	.Area5 .box .pic2 { margin-left: 2vw; margin-top:-3vw }
	.Area5 .box .pic2 .txt { float: left; margin-top: 5vw; margin-left: 0; margin-bottom: 2vw; }
	.Area5 .box .pic2 .txt p { margin: 0 1vw 2vw; font-size: 4vw;}
	.Area5 .box .pic2 .txt span { margin: 1vw; font-size: 3.5vw;} 
	.Area5 .box .pic2 li { margin:2vw 1vw 8vw;}
	.Area5 .box .pic2 li a { width: 96%; font-size: 4vw; z-index: 99;}
	.Area5 .box .pic2 li a i { margin-top: 1vw; margin-left: 1vw; width: 12vw; height: 4vw;}
	.Area5 .box .pic2 li a i p { margin: -0.2vw auto; width: 12vw; height: 4vw; font-size: 3vw;}
	}



/*Area6*/	
.Area6 { position:relative; margin-bottom:0px; height:auto; margin-bottom: 50px;}
.Area6 .box { position:relative; height: 520px; top:0; background: url(frame_02.png) repeat center top;}
.Area6 .box ul { position: relative; } 
.Area6 .box li { float:left; position:relative; top:50px; list-style: none}
.Area6 .box li.txt { position:relative; width: 600px; height:150px; top:0; left: 43px;}
.Area6 .box li.txt .time { height: 30px; width:120px; left:110px; border-top-right-radius: 30px; border-bottom-right-radius: 30px; background: #000; }
.Area6 .box li.txt .time p { display: block; width:100%; margin:10px 50px; padding-top:4px; font-size: 20px; font-weight: 500; text-align:left; color: #fff; }
.Area6 .box li.txt a {  margin:10px 50px; width: 100%; color: #b21b1b; text-align: left; font-size: 20px; font-weight: 900; }
.Area6 .box li.txt a i { position:absolute; margin-top: 2px; margin-left: 2px; width: 60px; height: 24px; background-color: #b21b1b; border-radius: 100px; }
.Area6 .box li.txt a i p { margin: 2px auto; width: 60px; height: 24px; color: #fff; text-align: center; font-size: 14px; }
.Area6 .box li.txt p.t2 { height: 30px; margin:10px 50px; font-size: 16px; font-weight: 500; line-height:16px; text-align:left; color: #9C9C9C;}
	@media screen and (max-width:767px){
	.Area6 .box { padding:2vw; height: 104vw; background:url(m_frame_02.png) repeat-y; background-size: 100%;}
	.Area6 .box .title { width: 50%; height: auto; margin: 0 25vw }
	.Area6 .box li { top:5vw;}
	.Area6 .box li.txt { width: 90%; top:0; height: 30vw; left: -10vw}
	.Area6 .box li.txt .time { height: 8vw; width:30vw; left:0;}
	.Area6 .box li.txt .time p { width:100%; margin:0 10vw; padding-top:1.5vw; font-size: 4vw;}
	.Area6 .box li.txt a { margin: 2vw 10vw; width: 96%; font-size: 5vw;}
	.Area6 .box li.txt a i { margin-top: 1vw; margin-left: 1vw; width: 12vw; height: 4vw;}
	.Area6 .box li.txt a i p { margin: -0.3vw auto; width: 12vw; height: 4vw; font-size: 3vw;}
	.Area6 .box li.txt p.t2 { height: 6vw; margin:2vw 10vw; font-size: 4vw; line-height:6vw;}
	}





/*fixer*/
